body { 
    font-family: 'Inter', sans-serif; 
}

/* Ẩn thanh cuộn ngang (nhưng vẫn cuộn được) cho đẹp mắt */
.no-scrollbar::-webkit-scrollbar { 
    display: none; 
}
.no-scrollbar { 
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;    /* Firefox */
}

/* Hiệu ứng Fade in cho Modal */
@keyframes fadeIn { 
    from { opacity: 0; transform: scale(0.95); } 
    to { opacity: 1; transform: scale(1); } 
}
.animate-fade-in { 
    animation: fadeIn 0.2s ease-out; 
}